// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn-light:focus, .btn-light.focus {
  box-shadow: none !important;
}

//TOP BAR************************************************
.admin-top-panel {
  min-height: 50px;
  border-bottom: 1px solid #e3e3e3;
  background: white;
}

.admin-top-panel .logo,
.admin-top-panel .nav-bar {
  padding-top: 15px;
}

.admin-top-panel .logo {
  border-right: 1px solid #e3e3e3;
  font-weight: bold;
}

.admin-panel .left-bar {
  margin-top: 50px;
  padding: 0;
}

.admin-panel .left-bar .left-bar-link,
.admin-panel .left-bar .links-div,
.admin-panel .left-bar .left-bar-button,
.admin-panel .left-bar .collapse-content,
.admin-panel .left-bar .left-bar-button-group {
  width: 100%;
}

.admin-panel .left-bar .links-div {
  background-color: #6c757d;
}

.admin-panel .left-bar .collapse-content {
  margin: 0 !important;
}

.admin-panel .main-content {
  margin-top: 50px;
  min-height: 600px;
}

.admin-panel .left-bar .links:hover {
  text-decoration: none;
}

.admin-panel .main-content {
  background-color: #f0f4ff;
}