// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

button {
    box-shadow: none !important;
}

body {
    background-color: #f0f4ff !important;
}

.tooltip-delete,
.tooltip-edit {
    cursor: pointer;
}

//TOP BAR*******************************************************
.admin-top-panel {
  min-height: 50px;
  border-bottom: 1px solid #e3e3e3;
  background: white;
}

.admin-top-panel .logo,
.admin-top-panel .nav-bar {
  padding-top: 15px;
}

.admin-top-panel .logo {
  border-right: 1px solid #e3e3e3;
  font-weight: bold;
}

.admin-top-panel .logo a {
  color: #212529;
  transition: 1s;
}

.admin-top-panel .logo a:hover {
  text-decoration: none;
  color: #747e87;
}

//LEFT BAR******************************************************

.admin-panel .left-bar {
  margin-top: 50px;
  padding: 0;
  background-color: #fff;
  height: 100vh;
}

.admin-panel .left-bar .left-bar-link,
.admin-panel .left-bar .links-div,
.admin-panel .left-bar .left-bar-button,
.admin-panel .left-bar .collapse-content,
.admin-panel .left-bar .left-bar-button-group {
  width: 100%;
}

.admin-panel .left-bar .links-div {
  background-color: #6c757d;
}

.admin-panel .left-bar .collapse-content {
  margin: 0 !important;
}

//MAIN CONTENT**************************************************

.admin-panel .main-content {
  margin-top: 50px;
  padding-top: 10px;
  min-height: 600px;
}

.admin-panel .left-bar .links:hover {
  text-decoration: none;
}

.admin-panel .main-content {
  background-color: #f0f4ff;
}

.admin-panel .main-content .data-card .data-card-text {
  font-size: 30px;
}

.admin-panel .main-content #user-creation {
    margin-bottom: 10px;
}

.admin-panel .main-content .creation-button {
    width: 100%;
    margin-bottom: 15px;
}

//BOSS MANAGE PAGE**********************************************
.admin-panel .main-content #boss-creation-form {
    margin-bottom: 5px;
}
