// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//TOP BAR
.admin-top-panel {
  min-height: 50px;
  border-bottom: 1px solid #e3e3e3;
  background: white;
}

.admin-top-panel .logo,
.admin-top-panel .nav-bar {
  padding-top: 15px;
}

.admin-top-panel .logo {
  border-right: 1px solid #e3e3e3;
  font-weight: bold;
}

.admin-panel .left-bar,
.admin-panel .main-content {
  margin-top: 70px;
}

.admin-panel .left-bar .links:hover {
  text-decoration: none;
}