
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  font-size: 18px;
}

a:hover {
  text-decoration: none;
}

/*----------------------------NAV BAR----------------------------*/

.user-bar,
.footer{
  background-color: #05004e;
  color: #fff;
}

.user-bar{
  height: 70px;
}

.footer {
  height: 90px;
  padding-top: 20px;
}

.footer a {
  color: #fff;
  transition: 1s;
}

.footer a:hover {
  color: #e2e2e2;
  position: relative;
  bottom: 2px;
  transition: 2s;
}

.user-row-info {
  padding-top: 1%;
}

/*----------------------------BOSS BAR----------------------------*/

.bosses {
  margin: 100px auto 110px;
}

.boss-block {
  margin-top: 10px;
  border: 1px solid #a9c6de;
  border-radius: 5px;
  padding: 15px 30px 15px;
}

.boss-row-info {
  margin-top: 20px;
}

.boss-btn {
  margin-top: 5%
}

.boss-btn a{
  color: #fff;
}

/*----------------------------BOSS ATACK PAGE----------------------------*/
.skill-div,
.boss-static,
.boss-attack-row {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.boss-reward {
  padding-top: 80px;
}

.boss-name {
  padding: 250px 0 40px 40px;
}

.p-reward,
h4{
  margin: 0;
}

.skill-div {
  margin-bottom: 4%;
  padding: 5% 0 5% 15%;
}

.fa-3x {
  padding-left: 2%;
}

.boss-attack {
  padding-top: 20px;
}

.boss-btn-show {
  margin-top: 0;
}

.boss-static {
  margin-top: 20px;
}

.last-damage {
  border-right: 1px solid lightgrey;
}

/*----------------------------LEVEL UP PAGE----------------------------*/
.level-up-section {
  margin-top: 20%;
}

/*----------------------------USER HERO PAGE----------------------------*/

.user-hero-container {
  margin: 100px auto 110px;
}

.hero-attributes,
.card-div{
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.hero-attributes {
  margin-bottom: 20px;
}

.user-attribute {
  padding:10px 0 0 15px;
}

.card-div {
  padding: 50px 0 50px;
  margin: 20px;
}

.card-info {
  display: none;
}

.Legendary {
  color: #fd5f00;
}

.Immortall {
  color: #fdd043;
}

.Mythical {
  color: #692db7;
}

.Rare {
  color: #207dff;
}

.card-div:hover {
  .card-info {
    display: block;
    position: absolute;
    border: 1px solid gray;
    left: 60%;
    top: 20%;
    background-color: #0000009e;
    color: #fff;
    padding: 15px 20px 15px;
    width: 70%;
    z-index: 1;
    height: auto;
  }
}

.card-attribute {
  margin: 0;
}

.card-info a:hover {
  color: #fff;
}

.not-active-cards {
  margin-bottom: 300px;
}

.not-active-cards .card-div:hover {
  .card-info {
    display: block;
    position: absolute;
    border: 1px solid gray;
    background-color: #0000009e;
    color: #fff;
    padding: 15px 20px 15px;
    width: 20%;
    z-index: 1;
    top: auto;
    left: auto;
  }
}

.not-active-cards .card-div {
  padding: 50px 20px 50px;
  width: 20%;
}

.card-checkbox {
  position: absolute;
}

.card-error {
  text-decoration: overline;
  color: #ff4b00;
}

/*----------------------------ITEM REWARD PAGE----------------------------*/
.item-reward-img:hover {
  .card-info {
    display: block;
    position: absolute;
    border: 1px solid gray;
    background-color: #0000009e;
    color: #fff;
    padding: 15px 20px 15px;
    width: 20%;
    z-index: 1;
    top: auto;
    left: 40%;
  }
}