
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  font-size: 18px;
  background-color: #fff;
  color: #000;
}

a:hover {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*----------------------------CONTAINERS----------------------------*/

.shop-container,
.bosses,
.user-hero-container,
.quest-container {
  margin: 100px auto 110px;
}

/*----------------------------NAV BAR----------------------------*/

.user-bar,
.footer{
  background: #2200a2;
  color: #fff;
}

.user-bar{
  height: 70px;
}

.footer {
  height: 90px;
  padding-top: 20px;
}

.footer a {
  color: #fff;
  transition: 1s;
}

.footer a:hover {
  color: #e2e2e2;
  position: relative;
  bottom: 2px;
  transition: 2s;
}

.user-row-info {
  padding-top: 1%;
}

/*----------------------------BOSS BAR----------------------------*/

.boss-block {
  margin-top: 10px;
  border: 1px solid #9a4444;
  border-radius: 5px;
  padding: 15px 30px 15px;
}

.boss-row-info {
  margin-top: 20px;
}

.boss-btn {
  margin-top: 5%
}

.boss-btn a{
  color: #fff;
}

/*----------------------------BOSS ATACK PAGE----------------------------*/
.skill-div,
.boss-static,
.boss-attack-row {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.boss-reward {
  padding-top: 80px;
}

.boss-name {
  padding: 250px 0 40px 40px;
}

.p-reward,
h4{
  margin: 0;
}

.skill-div {
  margin-bottom: 4%;
  padding: 5% 0 5% 15%;
}

.fa-3x {
  padding-left: 2%;
}

.boss-attack {
  padding-top: 20px;
}

.boss-btn-show {
  margin-top: 0;
}

.boss-static {
  margin-top: 20px;
}

.last-damage {
  border-right: 1px solid lightgrey;
}

/*----------------------------LEVEL UP PAGE----------------------------*/
.level-up-section {
  margin-top: 20%;
}

/*----------------------------USER HERO PAGE----------------------------*/

.hero-attributes {
  border: 1px solid #5d4141;
  border-radius: 5px;
}

.hero-attributes {
  margin-bottom: 20px;
}

.user-attribute {
  padding:10px 0 0 15px;
}

.card-div {
  padding: 50px 0 50px;
  margin: 20px;
}

.card-info {
  display: none;
}

.Legendary {
  color: #fd5f00;
}

.Immortall {
  color: #fdd043;
}

.Mythical {
  color: #692db7;
}

.Rare {
  color: #207dff;
}

.card-div:hover {
  .card-info {
    display: block;
    position: absolute;
    border: 1px solid gray;
    left: 60%;
    top: 20%;
    background-color: #0000009e;
    color: #fff;
    padding: 15px 20px 15px;
    width: 70%;
    z-index: 1;
    height: auto;
  }
}

.card-attribute {
  margin: 0;
}

.card-info a:hover {
  color: #fff;
}

.not-active-cards {
  margin-bottom: 300px;
}

.not-active-cards .card-div:hover {
  .card-info {
    display: block;
    position: absolute;
    border: 1px solid gray;
    background-color: #0000009e;
    color: #fff;
    padding: 15px 20px 15px;
    width: 20%;
    z-index: 1;
    top: auto;
    left: auto;
  }
}

.not-active-cards .card-div {
  padding: 50px 20px 50px;
  width: 20%;
}

.card-checkbox {
  position: absolute;
}

.error {
  text-decoration: overline;
  color: #ff4b00;
}

.success {
  text-decoration: underline;
  color: green;
}
/*----------------------------ITEM REWARD PAGE----------------------------*/
.item-reward-img:hover {
  .card-info {
    display: block;
    position: absolute;
    border: 1px solid gray;
    background-color: #0000009e;
    color: #fff;
    padding: 15px 20px 15px;
    width: 20%;
    z-index: 1;
    top: auto;
    left: 40%;
  }
}

/*----------------------------SHOP PAGE----------------------------*/

.shop-links {
  color: #000;
}

.shop-links:hover {
  color: #56868c;
}

.shop-items-row {
  margin-top: 20px;
}

.item-shop-div {
  margin-bottom: 20px;
}

.item-shop-div p {
  margin: 0;
}

.item-shop-img {
  height: 150px;
}

.item-shop-img:hover {
  .card-info {
    display: block;
    position: absolute;
    border: 1px solid gray;
    background-color: #000000e6;
    color: #fff;
    padding: 15px 20px 15px;
    width: 80%;
    z-index: 1;
    top: auto;
    left: auto;
  }
}

/*----------------------------QUESTS PAGE----------------------------*/

.quest-row {
  border: 1px solid #a9c6de;
  border-radius: 5px;
  padding: 15px 30px 15px;
  margin-bottom: 15px;
}

.drop-item-div {
  padding-left: 45%;
}

.drop-item-info {
  padding-left: 15px;
}

.drop-item-info,
.drop-card-info{
  display: none;
  font-size: 12px;
  position: absolute;
  border: 1px solid gray;
  background-color: #0000009e;
  width: 50%;
  color: #fff;
}

.drop-item-mark,
.drop-item-div {
  height: 28px;
  width: 28px;
}

.drop-item-div:hover {
  .drop-item-info {
    display: block;
  }
}

.drop-card-div:hover {
  .drop-card-info {
    display: block;
  }
}

.quest-description {
  color: #ffffffa3;
  font-style: italic;
  text-decoration: underline;
}

.drop-card-span {
  display: block;
}
